################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Welcome/bin
/Welcome/obj
/WelcomeExtended/bin
/WelcomeExtended/obj
/DataLayer/bin
/DataLayer/obj
